input[type="text"],
input[type="number"],
input[type="email"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
  border-color: #7db0fb;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(24, 117, 255, 0.25);
}

.btn {
  border-radius: 30px;
  color: white;
  background-color: orange;
  padding: 0.7rem 1.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
  margin-left: 5px;
}
.btn--primary {
  border-radius: 30px;
  /* color: white; */
  border-color: orange;
  border-width: 2px;

  padding: 0.7rem 1.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

label {
  /* color: white; */
  display: block;
  margin-top: 0.3rem;
}

input {
  margin-top: 0.2rem;
}
